@charset "UTF-8";


* {
    
    margin: 0;
    padding: 0;
   
}

body {

    background-color: #051826;
}
header {

    background-color:#051826 ;

}

main {

    background-color: #13364E;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    min-width: 250px;
    max-width: 800px;
    margin: auto;
    margin-top: 20px;
}


h1 {
    
    color: #ffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
p {
    color: #ffff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: start; 
    
}

div img {

    width: 150px;
    padding: 10px;
    padding-left: 20px;
    
}